ce-meeting-edit {
    margin-bottom:40px;

}

.meeting-name, 
.meeting-date,
.meeting-start,
.meeting-end {
    width:300px;
    line-height:30px;
    font-size:1em;
    padding: 0px 15px;
}

ce-meeting-edit div.meeting-abstract,
ce-meeting-edit div.meeting-agenda,
ce-meeting-edit div.meeting-minutes {
    height: 375px;
    margin-bottom:45px;
}


button {
    width:100px;
    line-height:30px;
    font-size: 1em;
}