:host {
    display:block;
    max-width:100%;
    text-align:center;

    img {
        max-width:300px;
    }

    ce-router-link {
        display:block;
        cursor:pointer;
        margin: 0 auto;
    }
}
